*{
    margin: 0%;
    border: 0%;
    padding:0% ;
}
form{
    border: 5px solid rgb(102, 102, 194);
    
}
header{
    background-color: rgb(102, 102, 194);
    text-align: center;
    padding: 1em;
}
h2{
    text-align: center;
}
#datos{
    padding-top: 2em;
    padding-bottom: 2em ;
    padding-left: 1em;
    background-color: rgb(206, 17, 3);
    display: flex;
    flex-direction: column;

}
.in2, input{
    margin: 0.4em;
    padding: 0.4rem;
    border-radius: 4px;
}

#scarrera{
    padding-top: 2em;
    padding-bottom: 2em ;
    padding-left: 1em;
    background-color: rgb(253, 220, 72);
    
}

.it-carrera{
    display: flex;
    flex-direction: row;
}


#smateria{
    padding-top: 2em;
    padding-bottom: 2em ;
    padding-left: 1em;
    background-color: rgb(72, 182, 57);
    
}
fieldset{
    border-radius: 5px;
    border: rgb(253, 220, 72);
    margin: 0.4em;
}
#dia-comision{
    margin-bottom: 0.5em;
    color: rgb(255, 255, 255);
}
#botones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
}
.botone-estilo{
    padding: 1em;
    background-color: rgb(116, 116, 204);
    border: rgb(116, 116, 204);
    color: rgb(255, 255, 255);
}
#respuesta-si{
    margin-top: 0.2%;
}
#respueta-no{
    margin-top: 0.2%;
}
legend{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 0.5em;
}
#cuadroR{
    border-radius: 5px;
    background-color: rgb(206, 17, 3);
}
#cuadroA{
    border-radius: 5px;
    background-color: rgb(253, 220, 72);
}
#cuadroV{
    border-radius: 5px;
    background-color: rgb(72, 182, 57);
}
label{
    color: rgb(255, 255, 255);
}
h4{
    color: rgb(255, 255, 255);
}