* {
    border: 0;
    margin: 0;
    padding: 0;
}

input, select, textarea {
    border: 0.1em solid black;
    border-radius: 0.2em;
}

legend, section, textarea {
    margin: 0.2em;
}

#ocultar {
    display: none;
}

textarea {
    resize: none;
    color: rgb(188, 13, 13);
    border-radius: 3em;
    padding: 1em;
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 5.3rem;
    padding-bottom: 5rem;
    font-size: 2.5rem;
}
h2{
    color: aliceblue;
    
}
form{
    background-image: url("../img/asador.jpg");
    background-size: contain;          /* muestra la imagen completa */
    background-position: center center; /* centra horizontal y vertical */
    background-repeat: no-repeat;       /* no repite la imagen */
    min-height: 700px;
    padding: 2em;
    text-align: center;
    width: 100%;
}
form {
    margin: 0 auto;          /* centra horizontalmente */
    max-width: 500px;        /* le pone un ancho máximo */
    width: 90%;             /* para que sea responsive */
}
label{
    color: rgb(255, 255, 255);
}
.btrein{
    padding: 1em;
    width: 40%;
    border-radius: 0.5rem;
    color: black;
    background-color: brown;
    font-size: 1.2rem;
}
#comensales{
    padding: 0.4rem;
}
main{
    background-color: brown;
}
.comensales{
    font-size: 1.5rem;
}
section{
    padding: 0.4em;
}

